<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=sql1001.site4now.net;database=db_aaefcd_g1;user id=db_aaefcd_g1_admin;password=Ahmed1234;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>